<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos necesarios para acceso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Si vas a mostrar la ubicación del usuario, estos permisos -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Declaraciones de características del hardware de ubicación (no estrictamente necesarias para solo mostrar mapa) -->
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapaPrueba"
        tools:targetApi="31">
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Token de Mapbox -->
        <meta-data
            android:name="com.mapbox.maps.token"
            android:value="pk.eyJ1IjoibGRhdmlkZGF6YSIsImEiOiJjbTl4YzAxc2cxNGowMmlwd3B0dTZ4MDB4In0.ltMRtiZWolk1h9WYkfqobw" />
    </application>

</manifest>